@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes waveMove {
  0% {
    transform: translateX(-100%);
    background: #8c4df7;
  }
  25% {
    transform: translateX(100%);
    background: #8c4df7;
  }
  50% {
    transform: translateX(100%);
    background: transparent;
  }
  75% {
    transform: translateX(100%);
    background: #8c4df7;
  }
  100% {
    transform: translateX(100%);
    background: transparent;
  }
}

@keyframes sendIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sendOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}


@keyframes wave {
  0% {
    background-position: 0%;
  }
  45%, 50%, 55% {
    background-position: 200%;
  }
  100% {
    background-position: 200%;
  }
}


/* index.css */

html, body {
  height: 100%;
  margin: 0;
  scrollbar-width: auto;
}

::selection {
  background-color: #8c4df7;
  color: #101011;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: #000;
  color: #fff;
}

a, button, li, textarea, input {
  cursor: default;
}

.bg-img {
  background-color: #101011;
}

.image {
  filter: grayscale(0%) sepia(0%);
  transition: filter .5s ease;
}

.image:hover {
  filter: grayscale(100%) sepia(100%) blur(.7px);
  transition: filter .5s ease;
}

nav {
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.fade-in-right {
  animation: fadeInRight 0.3s forwards;
}

.fade-out-left {
  animation: fadeOutLeft 0.3s forwards;
}

.bar {
  display: block;
  width: 35px;
  height: 2px;
  background: #fff;
  margin: 5px 18px;
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}

.line__footer__left {
  position: absolute;
  width: 30px;
  height: 2px;
  background: linear-gradient(90deg, #fff, #fff, #101011, #101011);
  margin: -1rem 6.1rem;
  transform: rotate(145deg);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
  background-size: 200%;
  animation: wave 2s infinite linear;
}

.line__footer__right {
  position: absolute;
  width: 30px;
  height: 2px;
  background: linear-gradient(90deg, #fff, #fff, #101011, #101011);
  margin: -1rem 6.1rem;
  transform: rotate(35deg);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
  background-size: 200%;
  animation: wave 2s infinite linear;
}

.menu-open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, -2px);
  width: 30px;
  height: 2px;
}

.menu-open .bar:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
  transition-delay: 0.1s;
}

.menu-open .bar:nth-child(3) {
  transform: translateX(20px);
  opacity: 0;
}

.menu-open .bar:nth-child(4) {
  transform: rotate(-45deg) translate(1.6px, 4.8px);
  width: 30px;
  height: 2px;
}

.menu-close .bar {
  display: block;
  width: 35px;
  height: 2px;
  background: rgb(255, 255, 255, 1);
  margin: 5px 18px;
  position: relative;
  overflow: hidden;
}

.menu-close .bar::before {
  content: '';
  display: block;
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  animation: waveMove 5s linear infinite;
}

.menu-close .bar:nth-child(1)::before {
  animation-delay: 2.2s;
}

.menu-close .bar:nth-child(2)::before {
  animation-delay: 2.35s;
}

.menu-close .bar:nth-child(3)::before {
  animation-delay: 2.5s;
}

.menu-close .bar:nth-child(4)::before {
  animation-delay: 2.65s;
}

.link-underline {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  color: white;
}

.link-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #8c4df7;
  transition: transform 0.5s ease;
  transform: scaleX(0);
  transform-origin: bottom left;
}

.link-underline:hover::after {
  transform: scaleX(1);
}

.button__contact {
  transition: border-color 0.3s ease;
}

.button__contact:hover {
  border-color: #8c4df7;
  color: #8c4df7;
}

.group:hover .bg-span {
  animation: sendIn 1s forwards;
}

.group:hover .text-div {
  color: #101011;
  opacity: 1;
  transition: 1s forwards;
}

.group:not(:hover) .bg-span {
  animation: sendOut 1s forwards;
}

.group:not(:hover) .text-div {
  color: white;
  opacity: 0.6;
  transition: 1s forwards;
}

.bio {
  text-align: justify;
  flex-direction: column;
}

.work__experience {
  text-align: justify;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .li__effect {
    letter-spacing: .05rem;
    
  }

  .li__effect:hover {
    color: #8c4df7;
  }

  .align__text {
    text-align: left;
  }

  .no-scroll {
    overflow-y: auto;
  }

  .mobile-menu {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  }

  .fullscreen-overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); 
  position: fixed;
  transition: opacity 0.5s ease-in-out;
  z-index: 40;
  }

.overlay-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
  }

  .overlay-hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
  visibility: hidden;
  }

  .link-underline-res {
    position: relative;
    display: inline-block;
    color: white;
  }
  
  .link-underline-res::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: .5rem;
    width: 100vw;
    height: 2px;
    background-color: #8c4df7;
    transition: transform 0.5s ease;
    transform: scaleX(0);
    transform-origin: bottom left;
  }
  
  .link-underline-res:hover::after {
    transform: scaleX(1);
  }
  
  .title__name {
    font-size: 3rem;
    letter-spacing: .2px;
  }
}

@media (max-width: 768px) {
  .title__text {
    text-align: left;
    font-size: 2.2rem;
  }
  
  .title__name {
    padding-bottom: -.7rem;
    font-size: 2.6rem;
    text-align: left;
    letter-spacing: .2px;
  }

  .align__text {
    padding-top: -2.5rem;
    text-align: left;
  }
}

@media (max-width: 640px) {
  .title__text {
    font-size: 2.1rem;
    text-align: left;
    letter-spacing: .2px;
    padding: .7rem;
  }

  .title__name {
    padding-top: 1.2rem;
    font-size: 2.5rem;
    text-align: left;
  }

  .align__text {
    padding-top: -2.5rem;
    text-align: left;
  }

  .bio {
    text-align: left;
    flex-direction: column;
  }

  .work__experience {
    text-align: left;
    flex-direction: column;
  }
}

@media (max-width: 321px) {
  .title__text {
    font-size: 2.1rem;
    text-align: left;
    flex-direction: row;
  }

  .title__name {
    padding-top: 1.5rem;
    font-size: 2rem;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .2px;
  }

  .align__text {
    text-align: left;
  }

  .button__hero {
    position: absolute;
    left: 18vw; /* Misalnya, 20vw mengatur posisi pada 20% dari lebar viewport */
    transform: translateX(-50%); /* Center elemen di tengah-tengah `left: 20vw` */
    transform: translateY(-30%);
    padding-left: 0;
  }
}
